Package: com.lauren.llwxextension
Name: LLWXExtension
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: lauren
Author: lauren
Section: Tweaks
Version: 0.0.1-236+debug
Installed-Size: 128
